<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title - CittaDashboard</title>
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.min.css" rel="stylesheet" />
    <link href="~/Content/dashboard.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body id="page-top">
    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
        <a class="navbar-brand mr-1" href="#">CittaDashboard</a>
        <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
            <i class="fas fa-bars"></i>
        </button>
        <div class="ml-auto mr-0 mr-md-3 my-2 my-md-0"></div>
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown no-arrow mx-1 show">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i>
                        <span class="noti fas fa-bell fa-fw"><span class="badge badge-danger count"> </span></span>
                    </i>
                </a>
                <div class="noti-content dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                    <div class="noti-top-arrow"></div>
                    <ul class="dropdown-item" href="#" id="notiContent"></ul>
                </div>
            </li>
        </ul>

        @*<div class="container">
                <div class="navbar-header">

                    <span class="noti fa fa-bell"><span class="count"> </span></span>
                    <div class="noti-content">
                        <div class="noti-top-arrow"></div>
                        <ul id="notiContent"></ul>
                    </div>
                    @Html.ActionLink("Home Page", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
            </div>*@
    </nav>
    <div id="wrapper">

        <ul class="sidebar navbar-nav">
            @RenderSection("Sidebar")
        </ul>

        <div id="content-wrapper">

            @RenderBody()

            <!-- Sticky Footer -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Cittanuvola @DateTime.Now.Year</span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Scripts/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Scripts/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/js/sb-admin.min.js"></script>
    <script src="~/Scripts/js/demo/datatables-demo.js"></script>
    <script src="~/Scripts/js/demo/chart-area-demo.js"></script>
    @RenderSection("scripts", required: false)


    @* Add Jquery Library *@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="/signalr/hubs"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @* Add css  *@
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style type="text/css">
        /*Added css for design notification area, you can design by your self*/
        /* COPY css content from youtube video description*/
        /*.noti-content {
                position: fixed;
                right: 100px;
                background: gray;
                color: blue;
                font-size: medium;
                font-style: oblique;
                font-family: Arial;
                border-radius: 4px;
                top: 57px;
                width: 440px;
                display: none;
                border: 1px solid #9E988B;
            }*/

        /*ul#notiContent {
                max-height: 200px;
                overflow: auto;
                padding: 0px;
                margin: 0px;
                padding-left: 20px;
            }*/

        /*ul#notiContent li {
                    margin: 3px;
                    padding: 6px;
                    background: white;
                }*/

        .noti-top-arrow {
            border-color: transparent;
            border-bottom-color: grey;
            border-style: dashed dashed solid;
            border-width: 0 8.5px 8.5px;
            position: absolute;
            right: 9px;
            top: -10px;
        }

        /*span.noti {
                color: #F5DEB3;
                margin: 15px;
                position: fixed;
                right: 100px;
                font-size: 23px;
                cursor: pointer;
            }*/

        /*span.count {
                position: fixed;
                top: -1px;
                color:white;
            }*/

        .noti:hover {
            color: white;
        }
    </style>

    @* Add jquery code for Get Notification & setup signalr *@
    <script type="text/javascript">
        $(function () {
            // Click on notification icon for show notification
            $('span.noti').click(function (e) {
                debugger;
                e.stopPropagation();
                $('span.noti').css("color", "gray");
                $('span.count').hide();
                $('.noti-content').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                // only load notification if not already loaded
                if (count > 0) {
                    updateNotification();
                }
                $('span.count', this).html(' ');
            })
            // hide notifications
            $('html').click(function () {
                $('.noti-content').hide();
            })
            // update notification
            function updateNotification() {
                $('#notiContent').empty();
                $('#notiContent').append($('<li>Loading...</li>'));
                $.ajax({
                    type: 'GET',
                    url: '/home/GetNotifications',
                    success: function (response) {
                        debugger;
                        $('#notiContent').empty();
                        if (response.length == 0) {
                            $('#notiContent').append($('<li>Currently You Have No New Notifications.</li>'));
                        }
                        $.each(response, function (index, value) {
                            $('#notiContent').append($('<li>A Contact: ' + value.Name + ' ' + 'Of Table Id' + ' (' + value.TableId + ') was Added.</li > '));
                        });
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
            // update notification count
            function updateNotificationCount() {
                $('span.count').show();
                var count = 0;
                count = parseInt($('span.count').html()) || 0;
                count++;
                $('span.noti').css("color", "white");
                $('span.count').css({ "background-color": "red", "color": "white" });
                $('span.count').html(count);

            }
            // signalr js code for start hub and send receive notification
            var notificationHub = $.connection.notificationHub;
            $.connection.hub.start().done(function () {
                console.log('Notification hub started');
            });
            //signalr method for push server message to client
            notificationHub.client.notify = function (message) {
                if (message && message.toLowerCase() == "added") {
                    updateNotificationCount();
                }
            }
        })
    </script>
</body>
</html>
